<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Máquina Enigma</title>

    <link rel="stylesheet" th:href="@{/styles/main.css}">

</head>
<body>

<form id="enigmaForm" th:action="@{/}" method="post">
    <h1>Máquina Enigma I</h1>
    <div class="rotor-section">
        <div class="form-group">
            <label for="rotor1">Estado rotor 1:</label>
            <input type="text" id="rotor1" name="rotor1" maxlength="1" required th:value="${estadoRotor1}">
            <label for="tipoRotor1">Tipo de rotor 1:</label>
            <select id="tipoRotor1" name="tipoRotor1" required class="slect-label">
                <option value="1" th:selected="${tipoRotor1 == 1}">Tipo 1</option>
                <option value="2" th:selected="${tipoRotor1 == 2}">Tipo 2</option>
                <option value="3" th:selected="${tipoRotor1 == 3}">Tipo 3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="rotor2">Estado rotor 2:</label>
            <input type="text" id="rotor2" name="rotor2" maxlength="1" required th:value="${estadoRotor2}">
            <label for="tipoRotor2">Tipo de rotor 2:</label>
            <select id="tipoRotor2" name="tipoRotor2" required class="slect-label">
                <option value="1" th:selected="${tipoRotor2 == 1}">Tipo 1</option>
                <option value="2" th:selected="${tipoRotor2 == 2}">Tipo 2</option>
                <option value="3" th:selected="${tipoRotor2 == 3}">Tipo 3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="rotor3">Estado rotor 3:</label>
            <input type="text" id="rotor3" name="rotor3" maxlength="1" required th:value="${estadoRotor3}">
            <label for="tipoRotor3">Tipo de rotor 3:</label>
            <select id="tipoRotor3" name="tipoRotor3" required class="slect-label">
                <option value="1" th:selected="${tipoRotor3 == 1}">Tipo 1</option>
                <option value="2" th:selected="${tipoRotor3 == 2}">Tipo 2</option>
                <option value="3" th:selected="${tipoRotor3 == 3}">Tipo 3</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="plugboard">Estado del plugboard:</label>
        <textarea id="plugboard" name="plugboard" rows="3" th:text="${plugboard}"></textarea>
    </div>
    <div class="form-group">
        <label for="mensaje">Mensaje a encriptar:</label>
        <textarea id="mensaje" name="mensaje" rows="3" required></textarea>
    </div>
    <div class="form-group">
        <label for="mensajeEncriptado">Mensaje encriptado:</label>
        <textarea id="mensajeEncriptado" name="mensajeEncriptado" rows="3" th:text="${mensajeEncriptado}" readonly></textarea>
    </div>
    <button type="submit">Encriptar mensaje</button>
</form>

</body>
</html>